:root {
    --main-color: #F2CB40;
    --second-color: #142E48;
    --other-font: 'Playfair Display', serif;
    font-size: min(4.5vw, 16px);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--second-color);
}

a {
    color: var(--second-color);
}

h1, h3, h4 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 2.2rem;
}

h3 {
    margin-bottom: 1.5rem;
}

h4 {
    margin-bottom: 1rem;
}

button:focus {
    outline: none;
}

.padding-tb {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

/* Fix me! */

.padding-t {
    padding-top: 4.5rem;
}

.padding-b {
    padding-bottom: 4.5rem;
}



/*------------------------------------------
                    Modal
-------------------------------------------*/
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border: none;
    padding: .5rem 1rem;
}

.modal-header .close {
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.modal-body {
    padding-top: 0;
}

.modal-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*------------------------------------------
                    Slick
-------------------------------------------*/
.slick-arrow {
    padding: .2rem;
    border: none;
    border-radius: 50%;
    line-height: 0;
    font-size: 1rem;
    background-color: var(--main-color);
    opacity: .8;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 45%;
}

.slick-prev {
    left: 0;
    z-index: 10;
}

.slick-next {
    right: 0;
    z-index: 10;
}

@media (max-width: 575.98px) {
    .col-11 {
        margin-left: auto;
        margin-right: auto;
    }
}


/*------------------------------------------
                    Navbar
-------------------------------------------*/

nav {
    font-family: 'Playfair Display', serif;
}

.navbar {
    background-color: #fff;
}

.navbar-brand {
    font-size: min(1.25rem, 5vw);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler span {
    color: var(--main-color);
    font-size: 2.5rem;
    display: flex;
    width: auto;
    height: auto;
}

.navbar-toggler span ion-icon {
    margin: auto;
}


/*------------------------------------------
                    Home
-------------------------------------------*/

#home {
    background-image: linear-gradient(rgba(20,46,72,.5), rgba(20,46,72,.5)), url("../img/photo-1521504794987-75e6b93ee2b7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0;
}

#home h1 {
    font-weight: 600;
    color: #fff;
    margin: auto;
    z-index: 10;
    text-align: center;
}

#home .container, #home .row, #home .col-12 {
    height: 100%;
}

#home .wrap {
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    margin: auto;
    position: relative;
}

#home .wrap::before {
    top: 0;
    left: 0;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    opacity: .75;
}

@media (max-width: 765.98px) {
    #home .wrap::before {
        left: -15px;
        width: calc(100% + 30px);
    }
}


/*------------------------------------------
                    About
-------------------------------------------*/

.about-h3-md {
    display: none;
}

.about-h3-sm {
    display: block;
}

#about .img-wrap {
    width: 100%;
    height: min(55vw, 220px);
    display: block;
    margin: 2rem auto 0 auto;
}

#about img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #about .img-wrap {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
   
    #about .img-wrap {
        height: 100%;
        margin: 0 auto;
    }

    #about img {
        object-fit: contain;
    }

    .about-h3-sm {
        display: none;
    }

    .about-h3-md {
        text-align: center;
        padding-bottom: 1rem;
        position: relative;
        display: block;
        margin-bottom: 2rem;
    }

    .about-h3-md::before {
        content: '';
        position: absolute;
        width: 75%;
        height: 100%;
        border-bottom: 1px solid var(--main-color);
        top: 0;
        left: calc(25%/2);
    }  
}


/*------------------------------------------
                    Services
-------------------------------------------*/

#services .wrap {
    padding-left: 1rem;
    border-left: 1px solid var(--main-color);
}

#services .img-wrap {
    width: 100%;
    height: min(35vw, 200px);
    display: block;
    margin-bottom: 2rem;
}

#services img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#services ul {
    padding-inline-start: 25px;
}

@media (min-width: 768px) {
    
    #services h3 {
        text-align: center;
        padding-bottom: 1rem;
        position: relative;
    }

    #services h3::after {
        content: '';
        position: absolute;
        width: 75%;
        height: 100%;
        border-bottom: 1px solid var(--main-color);
        top: 0;
        left: calc(25%/2);
    }

    #services .wrap {
        padding-left: 0;
        border-left: none;
    }
    
    #services .img-wrap {
        height: 100%;
    }

    .digital-marketing {
        margin-left: calc(50% + 15px);
    }
    
}


/*------------------------------------------
                    Mosaic
-------------------------------------------*/

.mosaic-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min(27vw, 220px));
    grid-template-areas: 
    "p1 p1 l1 l1"
    "p1 p1 l2 l2"
    "l3 l3 l3 p2";
    grid-gap: .6rem;
    /* padding: 0 5px; For when using slides */
}

.mosaic-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Adjust the mosaic images accordingly  */
/* p for portrait, l for landscape */
.p1 {
    grid-area: p1;
}

.l1 {
    grid-area: l1;
}

.l2 {
    grid-area: l2;
}

.l3 {
    grid-area: l3;
}

.p2 {
    grid-area: p2;
}

@media (min-width: 992px ) {
    .mosaic-grid {
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
        "p1 p1 l1 l1 l1 p2 p2"
        "p1 p1 l2 l2 l2 p2 p2"
        "p1 p1 l3 l3 l3 p2 p2";       
        /* padding: 0 5px; For when using slides */
    }
}


/*------------------------------------------
                    Represent
-------------------------------------------*/

#represent .wrap {
    width: 100%;
    text-align: center;
    position: relative;;
    padding-left: 5px;
    padding-right: 5px;
}

#represent .wrap img {
    width: 30vw;
    height: 30vw;
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    margin: auto;
}

#represent .name {
    font-size: 1.25rem;
    color: var(--main-color);
    font-family: var(--other-font);
    margin-bottom: 0;
    margin-top: 1rem;
}

.logos {
    background-color: var(--main-color);
    padding: 1rem .5rem;
    margin-top: 2rem;
    position: relative;
    flex-wrap: wrap;
    display: flex;
}

.logo {
    max-width: 20%;  /* Adjust according to how many logos */
    margin: auto;
    padding: 0 5px;
}

.logos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@media (min-width: 576px) {
    .logo {
        max-width: 14%; /* Adjust according to how many logos */
    }    
}

@media (min-width: 768px) {
    
    #represent h3 {
        text-align: center;
        padding-bottom: 1rem;
        position: relative;
    }

    #represent h3::after {
        content: '';
        position: absolute;
        width: 75%;
        height: 100%;
        border-bottom: 1px solid var(--main-color);
        top: 0;
        left: calc(25%/2);
    }  
}

/*------------------------------------------
                    Contact
-------------------------------------------*/

#contact .wrap {
    width: 90%;
    margin: auto;
}

.contact-option {
    display: flex;
    border: 1px solid var(--second-color);
    width: 100%;
    padding: .5rem 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

#contact .contact-option:hover {
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--second-color);
}

.option {
    margin: auto;
    display: flex;
}

#contact p {
    display: inline;
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

#contact ion-icon {
    color: var(--main-color);
    font-size: 1.1rem;
    margin: auto 0;
}

@media (min-width: 768px) {
    #contact .wrap {
        display: flex;
    }

    .contact-option {
        max-width: 40%;
        margin: 15px auto;
    }

    #contact h3 {
        text-align: center;
        padding-bottom: 1rem;
        position: relative;
    }

    #contact h3::after {
        content: '';
        position: absolute;
        width: 75%;
        height: 100%;
        border-bottom: 1px solid var(--main-color);
        top: 0;
        left: calc(25%/2);
    }
}


/*------------------------------------------
                    Footer
-------------------------------------------*/

footer {
    background-color: var(--second-color);
}

.footer-wrap {
    display: flex;
    height: 100%;
}

footer p {
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 10px;
    font-size: .9rem;
}

@media (max-width: 575.98px){
    .footer-wrap {
        flex-wrap: wrap;
    }

    footer p{
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
}

@media (min-width: 576px) {
    footer p:last-of-type {
        margin-left: auto;
    }
}
