:root {
    --main-color: #F2CB40;
    --second-color: #142E48;
    --other-font: 'Playfair Display', serif;
    font-size: min(4.5vw, 16px);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--second-color);
}

a {
    color: var(--second-color);
}

h1, h2, h4 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 2.2rem;
}

h2 {
    margin-bottom: 1.5rem;
    font-weight: 600;
    color: var(--main-color);
}

h4 {
    margin-bottom: 1rem;
    font-weight: 600;
}

button:focus {
    outline: none;
}

.padding-tb {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

/* Fix me! */

.padding-t {
    padding-top: 4.5rem;
}

.padding-b {
    padding-bottom: 4.5rem;
}



/*------------------------------------------
                    Modal
-------------------------------------------*/
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border: none;
    padding: .5rem 1rem;
}

.modal-header .close {
    padding: 0;
    margin: 0;
    margin-left: auto;
}

.modal-body {
    padding-top: 0;
}

.modal-body img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*------------------------------------------
                    Slick
-------------------------------------------*/
.slick-arrow {
    border: none;
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--main-color);
    text-align: center;
    position: absolute;
    top: 40%;
}

.slick-arrow:first-of-type {
    left: 0;
    z-index: 10;
}

.slick-arrow:last-of-type {
    right: 0;
    z-index: 10;
}

@media (max-width: 575.98px) {
    .col-11 {
        margin-left: auto;
        margin-right: auto;
    }
}


/*------------------------------------------
                    Navbar
-------------------------------------------*/

nav {
    font-family: 'Playfair Display', serif;
}

.navbar {
    background-color: #fff;
}

.navbar-brand {
    font-size: min(1.25rem, 5vw);
}

.navbar-toggler {
    border: none;
}

.navbar-toggler span {
    color: var(--main-color);
    font-size: 2.5rem;
    display: flex;
    width: auto;
    height: auto;
}

.navbar-toggler span ion-icon {
    margin: auto;
}


/*------------------------------------------
                    Home
-------------------------------------------*/

#home {
    padding-top: 2rem;
}

#home h1 {
    font-weight: 600;
}

#home .info-wrap {
    height: 100%;
    display: flex;
    padding: 0 1rem;
}

#home .img-wrap {
    height: 100%;
    width: 100%;
}

#home img {
    height: 100%;
    width: 100%;
    z-index: 10;
}

@media (max-width: 767.98px) {
    #home .info-wrap {
        padding: 0 0 2rem 2rem;
    }
    
    #home .img-wrap {
        width: 80%;
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    #home h1 {
        margin: auto;
        text-align: center;
    }

    #home .info-wrap {
        padding: 0 1rem;
    }
}


/*------------------------------------------
                    About
-------------------------------------------*/

#about {
    position: relative;
}

#about::before {
    content: '';
    position: absolute;
    background-color: #F1F1F1;
    height: calc(100% + 10rem);
    width: 100%;
    top: -7rem;
    left: 0;
    z-index: -10;
}



/*------------------------------------------
                    Services
-------------------------------------------*/

#services ul {
    padding-inline-start: 20px;
}

#services .img-wrap {
    width: 100%;
    height: 100%;
}

#services .img-wrap img {
    width: 70%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

@media (max-width: 767.98px) {
    #services .info-wrap {
        margin-top: 2.5rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #services .info-wrap {
        padding-top: 8rem;
    }
}

@media (min-width: 768px) {
    #services .img-wrap img {
        width: 100%;
        object-position: top;
    }
}

@media (min-width: 992px) {
    #services .info-wrap {
        padding-top: 10rem;
    }
}


/*------------------------------------------
                    Mosaic
-------------------------------------------*/

.mosaic-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min(27vw, 220px));
    grid-template-areas: 
    "p1 p1 l1 l1"
    "p1 p1 l2 l2"
    "l3 l3 l3 p2";
    grid-gap: .6rem;
    /* padding: 0 5px; For when using slides */
}

.mosaic-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Adjust the mosaic images accordingly  */
/* p for portrait, l for landscape */
.p1 {
    grid-area: p1;
}

.l1 {
    grid-area: l1;
}

.l2 {
    grid-area: l2;
}

.l3 {
    grid-area: l3;
}

.p2 {
    grid-area: p2;
}

@media (min-width: 992px ) {
    .mosaic-grid {
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
        "p1 p1 l1 l1 l1 p2 p2"
        "p1 p1 l2 l2 l2 p2 p2"
        "p1 p1 l3 l3 l3 p2 p2";       
        /* padding: 0 5px; For when using slides */
    }
}


/*------------------------------------------
                    Represent
-------------------------------------------*/

#represent .wrap {
    width: 100%;
    text-align: center;
    position: relative;;
    padding-left: .6rem;
    padding-right: .6rem;
}

#represent .wrap img {
    width: 14vw;
    height: 14vw;
    max-width: 150px;
    max-height: 150px;
    min-width: 90px;
    min-height: 90px;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    margin: auto;
}

#represent .name {
    font-size: 1.25rem;
    color: var(--main-color);
    font-family: var(--other-font);
    margin-bottom: 0;
    margin-top: 1rem;
}

.logos {
    background-color: var(--main-color);
    padding: 1rem .5rem;
    margin-top: 2rem;
    position: relative;
    flex-wrap: wrap;
    display: flex;
}

.logo {
    margin: auto;
    padding: 0 5px;
}

.logos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/* Adjust according to how many logos */

.logo {
    max-width: 13%; /* xs size */
}

@media (min-width: 576px) {
    .logo {
        max-width: 11%; 
    }    
}

/* @media (min-width: 768px) {
    .logo {
        max-width: 11%; 
    }    
} */

@media (min-width: 992px) {
    .logo {
        max-width: 7%; 
    }    
}

@media (min-width: 768px) {
    
    #represent h3 {
        text-align: center;
        padding-bottom: 1rem;
        position: relative;
    }

    #represent h3::after {
        content: '';
        position: absolute;
        width: 75%;
        height: 100%;
        border-bottom: 1px solid var(--main-color);
        top: 0;
        left: calc(25%/2);
    }  
}


/*------------------------------------------
                    Contact
-------------------------------------------*/

#contact .wrap {
    width: 90%;
    margin: auto;
}

.contact-option {
    display: flex;
    border: 1px solid var(--second-color);
    width: 100%;
    padding: .5rem 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

#contact .contact-option:hover {
    text-decoration: none;
    color: var(--main-color);
    background-color: var(--second-color);
}

.option {
    margin: auto;
    display: flex;
}

#contact p {
    display: inline;
    font-size: 1.1rem;
    margin: 0 0 0 5px;
}

#contact ion-icon {
    color: var(--main-color);
    font-size: 1.1rem;
    margin: auto 0;
}

@media (min-width: 768px) {
    #contact .wrap {
        display: flex;
    }

    .contact-option {
        max-width: 40%;
        margin: 15px auto;
    }

    #contact h3 {
        text-align: center;
        padding-bottom: 1rem;
        position: relative;
    }

    #contact h3::after {
        content: '';
        position: absolute;
        width: 75%;
        height: 100%;
        border-bottom: 1px solid var(--main-color);
        top: 0;
        left: calc(25%/2);
    }
}


/*------------------------------------------
                    Footer
-------------------------------------------*/

footer {
    background-color: var(--second-color);
}

.footer-wrap {
    display: flex;
    height: 100%;
}

footer p {
    color: #fff;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 10px;
    font-size: .9rem;
}

@media (max-width: 575.98px){
    .footer-wrap {
        flex-wrap: wrap;
    }

    footer p{
        width: 100%;
        text-align: center;
        padding: 5px 0;
    }
}

@media (min-width: 576px) {
    footer p:last-of-type {
        margin-left: auto;
    }
}
